body {
  background-image: url(fire.png);
  background-repeat: repeat-x;
  background-size: 60%;
  background-position: bottom;
}

#title {
	font-family: ccbiffbamboomoutline,sans-serif;
	font-style: normal;
	font-size: 45px;
}

h3 {
	font-family: 'Bungee Shade', cursive;
}


/********** tables **********/

h4 {
	font-family: 'Bungee', cursive;
}

tbody {
	font-family: 'Roboto Slab', serif;
	background: rgba(255, 255, 255, 0.8);
}