body {
  background-image: url(fire.png);
  background-repeat: repeat-x;
  background-size: 60%;
  background-position: bottom;
}

#title {
	font-family: ccbiffbamboomoutline,sans-serif;
	font-style: normal;
	font-size: 45px;
}


/******************** FONTS ********************/
h3 {
	font-family: 'Bungee Shade', cursive;
}

h4 {
	font-family: 'Bungee', cursive;
}

h6 {
	font-family: 'Bungee', cursive;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: bold;
}


/******************** TABLES ********************/
th {
	font-family: 'Space Mono', monospace;
}

tbody {
	font-family: 'Roboto Condensed', sans-serif;
	background: rgba(255, 255, 255, 0.8);
}


/******************** DECORATIONS ********************/
.btn {
	font-family: 'Space Mono', monospace;
}

.card {
	min-height: 210px;
}