body {
  background-image: url(fire.png);
  background-repeat: repeat-x;
  background-size: 60%;
  background-position: bottom;
}

#title {
	font-family: ccbiffbamboomoutline,sans-serif;
	font-style: normal;
	font-size: 45px;
}


/******************** FONTS ********************/
h3 {
	font-family: 'Bungee Shade', cursive;
}

h4 {
	font-family: 'Bungee', cursive;
}

h5 {
	font-family: 'Bungee Shade', cursive;
}

h6 {
	font-family: 'Bungee', cursive;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: bold;
}


/******************** TABLES ********************/
table {
	background: rgba(255, 255, 255, 0.8);
}

tr {
	text-align: center;
}

th, td {
	font-family: 'Bungee', cursive;
}

.ship-piece {
	background-color: rgb(0, 204, 153);
}

.salvo {
	background-color: rgb(255, 80, 80);
}


/******************** DECORATIONS ********************/
.btn {
	font-family: 'Space Mono', monospace;
}

.card {
	min-height: 210px;
}

.swal-text {
  font-family: 'Bungee', cursive;
  text-align: center;
}

.swal-overlay {
  background-color: rgba(173, 94, 153, 0.5);
}