<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Game List</title>
  <link rel="stylesheet" href="styles/games.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/ize1xyw.css">
</head>

<body>
<div id="app">

  <div class="container-fluid mb-4 text-center">
    <h1>Salvo - Game On!</h1>
  </div>

  <div class="container-fluid mb-5">
    <h2>Game Score</h2>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Player</th>
        <th>Won</th>
        <th>Tied</th>
        <th>Lost</th>
        <th>Total</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="player in vueScore">
        <td>{{player.userName}}</td>
        <td>{{player.won}}</td>
        <td>{{player.lost}}</td>
        <td>{{player.tied}}</td>
        <td>{{player.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid mb-3">
    <h2>Games List</h2>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Player 1</th>
        <th>Player 2</th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="games in vueSalvo.salvo">
        <td>{{salvo.id}}</td>
        <td>{{salvo.created}}</td>
        <td>{{salvo.gamePlayers[0].Player.user}}</td>
        <td>{{salvo.gamePlayers[1].Player.user}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--bootstrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--content scripts-->
<script src="scripts/games.js"></script>

</body>
</html>