<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Salvo | Game List</title>
  <link href="css/games.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" rel="stylesheet">
  <link href="https://use.typekit.net/ize1xyw.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700i&display=swap" rel="stylesheet">
</head>

<body>
<div class="container-fluid" id="app">

  <!------------------------------ TITLE ------------------------------>
  <div class="row m-5 justify-content-center" id="title">Salvo - Game On!</div>

  <!------------------------------ MENU ------------------------------>
  <div class="row m-5 align-items-center" id="playerAccess">
    <div class="col-sm-4 text-center" id="signUp">
        <div class="card shadow-lg rounded p-5">
          <h3>Sign Up</h3>

          <!----------if no user is logged in show this---------->
          <div v-show="currentUser == 'guest'">
            <button class="btn btn-info shadow-lg m-3" type="button" data-toggle="collapse" data-target="#registrationCollapse" aria-expanded="false" aria-controls="registrationCollapse">Register</button>
            <div class="collapse" id="registrationCollapse">
              <form id="registration">
                <div class="form-group mb-4">
                  <input type="email" class="form-control" id="registrationEmail" placeholder="Email">
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control" id="registrationPassword" placeholder="Password">
                </div>
                <button class="btn btn-outline-info shadow-lg" type="button" onclick="signUp()">Continue</button>
              </form>
            </div>
          </div>

          <!----------if the user is logged in show this---------->
          <div v-show="currentUser != 'guest'">
            <!--<p>You already have an account. You can't sign up.</p>-->
            <button class="btn btn-info shadow-lg m-3" type="button" onclick="signUpAfterLogIn()">Register</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4 text-center" id="logIn">
        <div class="card shadow-lg rounded p-5">

          <!----------if no user is logged in show this---------->
          <div v-show="currentUser == 'guest'">
            <h3>Log In</h3>
            <button class="btn btn-success shadow-lg m-3" type="button" data-toggle="collapse" data-target="#loginCollapse" aria-expanded="false" aria-controls="loginCollapse">Press to Continue</button>
            <div class="collapse" id="loginCollapse">
              <form id="loginForm">
                <div class="form-group mb-4">
                  <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Email" required>
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control" id="loginPassword" placeholder="Password" required>
                </div>
                <div>
                  <button class="btn btn-success shadow-lg mr-3" type="button" onclick="login()">Log In</button>
                </div>
              </form>
            </div>
          </div>

          <!----------if the user is logged in show this---------->
          <div v-show="currentUser != 'guest'">
            <h3>Welcome <h6 class="mt-3">{{currentUser.user}}</h6></h3>
            <button class="btn btn-danger shadow-lg" id="logoutForm" type="button" onclick="logout()">Log Out</button>
          </div>
        </div>
      </div>

    <div class="col-sm-4 text-center" id="startGame">
        <div class="card shadow-lg rounded p-5">
          <h3>Start Game</h3>

          <!----------if no user is logged in show this---------->
          <div v-show="currentUser == 'guest'">
            <!--<p>You need to log in before starting a new game.</p>-->
            <button class="btn btn-warning shadow-lg m-3" type="button" onclick="newGameAlert()">Ready, set, go!</button>
          </div>

          <!----------if the user is logged in show this---------->
          <div v-show="currentUser != 'guest'">
            <button class="btn btn-warning shadow-lg m-3" type="button" onclick="createGame()">Ready, set, go!</button>
          </div>

        </div>
      </div>
  </div>

  <div class="row m-5" id="spacer"></div>

  <!------------------------------ GAMES & LEADERBOARD ------------------------------>
  <div class="row m-5" id="gameInfo">
    <div class="col" id="gamesTable">
        <h4>Game List</h4>
        <table class="table shadow">
          <thead class="thead-dark">
          <tr>
            <th class="text-center">ID</th>
            <!--<th>Date</th>-->
            <th>Player 1</th>
            <th>Player 2</th>
            <!----------if "user" is logged in show this---------->
            <th v-show="currentUser != 'guest'">Join Game</th>

          </tr>
          </thead>

          <tbody>
          <tr v-for="(game, index) in vueGames">
            <td class="text-center">{{game.gameID}}</td>
            <!--<td>{{game.created}}</td>-->
            <td>{{game.player[0].user.split("@")[0]}}</td>
            <td>{{game.player[1] != null ? game.player[1].user.split("@")[0] : "Waiting for opponent..."}}</td>

            <!----------if "game" is full show this---------->
            <td v-show="currentUser != 'guest' && game.player[1] != null">Room Full</td>

            <!----------option to join a game---------->
            <td v-show="currentUser == game.player[1] && game.player[0] != null">
              <button type="button" class="btn btn-sm btn-warning shadow-lg" onclick="joinGame(game.player[1].gamePlayerID)">Join</button>
            </td>

            <!----------option to return to a game---------->
            <td v-show="currentUser != 'guest' && game.player[1] == null">
              <button type="button" class="btn btn-sm btn-warning shadow-lg" onclick="returnGame(game.player[1].gamePlayerID)">Return</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    <div class="col" id="leaderboardTable">
        <h4>Leaderboard</h4>
        <table class="table shadow">
          <thead class="thead-dark">
          <tr>
            <th>Player</th>
            <th class="text-center">Won</th>
            <th class="text-center">Tied</th>
            <th class="text-center">Lost</th>
            <th class="text-center">Total</th>
          </tr>
          </thead>

          <tbody>
          <tr v-for="player in vueScore">
            <td>{{player.user.split("@")[0]}}</td>
            <td class="text-center">{{player.won}}</td>
            <td class="text-center">{{player.tied}}</td>
            <td class="text-center">{{player.lost}}</td>
            <td class="text-center">{{player.total}}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Created with 💚 by <a href="https://github.com/pizzadeparado" target="_blank">pizzadeparado</a> in Buenos Aires.</span>
  </div>
</footer>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--bootstrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- react js -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- react component -->
<script src=""></script>
<!-- sweetalert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--content scripts-->
<script src="js/games.js"></script>

</body>
</html>